:root {
	--color-bg: #e9ecef;
	--color-text: #1e293b;
	--color-primary: #006eb6;
	--color-primary-hover: #004f7f;
	--color-accent: #fbbf24;
	--color-muted: #64748b;
	--color-background: #f9f9f9;
	--color-primary-alt: #2a5298;
}

